@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  color: white;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 3px 5px 0px 0px rgba(0,0,0,0.75);
}
#counter {
  position: absolute;
  top: 20px;
  right: 20px;
}
#highscore_text {
  position: absolute;
  top: 20px;
  left: 20px;
}
#highscore{
  position: absolute;
  top: 60px;
  left: 20px;
}
#level{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  align-items: center;
  justify-content: center;
}
#level button{
  background-color: green;
  padding: 20px 40px 20px 40px;
  font-family: inherit;
  font-size: inherit;
}
#end {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
#end button {
  background-color: red;
  padding: 20px 50px 20px 50px;
  font-family: inherit;
  font-size: inherit;
}
#controlls {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
}
#controlls div {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}
#controlls button {
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
}
#controlls button:first-of-type {
  grid-column: 1/-1;
}

#body{
  animation: colorPop 2s linear infinite;
}

#opening{
  -webkit-text-fill-color: lightblue;
}

#start{
  margin-top: 50px;
  color: lightblue;
}

@keyframes colorPop {
  0%, 100% {
    color: white;
    background: rgb(231, 50, 18);
  }
  10%, 90% {
    color: black;
    background: yellow;
  }
  20%, 80% {
    color: white;
    background: rgb(98, 98, 255);
  }
  30%, 70% {
    color: white;
    background: rgb(252, 34, 168);
  }
  35%, 65% {
    color: black;
    background: rgb(255, 85, 141);
  }
  40%, 70% {
    color: white;
    background: rgb(234, 6, 255);
  }
  50% {
    color: black;
    background: white;
  }
}